<title>Главная страница</title>
{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'other/css/style_homepage.css' %}">
<h3 align="center">Приветствуем, Вас </h3>
<br>
<h3 align="center">Вы находитесь на главной странице сайта для перевозчиков ООО "Илмакс"</h3>
<br>
<h3 align='center'>Главная цель сайта - оптимизация логистических процессов</h3>
<br><br>
<br>
<br>
<h1>Правила работа с сайтом:
<br>Если вы перевозчик:
    - Зарегистрируйтесь, тогда Вы будете иметь возможность посмотреть актуальные грузы и повесить свое объевление о свободном транспорте</h1>
{% endblock %}

